<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>

<div class="container">
    <p> Hello From Test </p>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>